<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

</head>
<body>
<style>

    h1{
        text-align: center;
    }
</style>
<h1>Temas sin Fronteras</h1>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/creartema}">Crear tema</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin}">Panel de Administración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/perfil}">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/login}">Iniciar sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </div>
</nav>




<h2 th:text="${tema.getTitulo()}"></h2>
<p th:text="${tema.getDescripcion()}"></p>






<div class="card" th:each="comentario: ${listacomentarios}">
    <div class="card-header" th:text="${comentario.username.getUsername()}">
    </div>
    <div class="card-body">
        <h5 class="card-title" th:text="${comentario.texto}"></h5>
    </div>
</div>

<br>

<h3>Escribe tu comentario aquí</h3>
<form method="post" th:action="@{/comentarioguardado/tema/{temaid}(temaid=${tema.getIdtema()})}" th:object="${comentario}">
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{texto}" ></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" th:href="@{/comentar}">Comentar</button>
    </div>
</form>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>